<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="index :: html_header"></head>

<body>
    <div th:replace="index :: header"></div>

    <div class="container col-md-6 col-sm-6 col-xs-12">
        <form th:action="@{saveStudent}" th:object="${student}" method="post" class="text-dark">
            <h3 class=" text-warning bg-opacity-50 mt-5"> Add Student </h3>
            <div class="form-group">
                <label class="control-label">First Name :</label>
                <input type="text" name="firstName" class="form-control" th:value="${student.firstName}"
                    placeholder="Your first name">
                <span class="text-danger" th:errors="${student.firstName}"></span>
            </div><br>

            <div class="form-group">
                <label class="control-label">Last Name :</label>
                <input type="text" name="lastName" class="form-control" th:value="${student.lastName}"
                    placeholder="Your last name">
                <span class="text-danger" th:errors="${student.lastName}"></span>
            </div><br>

            <div class="form-group">
                <label class="control-label">Email :</label>
                <input type="text" name="email" class="form-control" th:value="${student.email}"
                    placeholder="Your email">
                <span class="text-danger" th:errors="${student.email}"></span>
            </div><br>

            <div class="form-group">
                <label class="control-label">Gender :</label>
                <input type="text" name="gender" class="form-control" th:value="${student.gender}"
                    placeholder="Your sex (example : M or F )">
                <span class="text-danger" th:errors="${student.gender}"></span>
            </div><br>

            <div class="form-group">
                <label class="control-label">Group (id) :</label>
                <input type="text" name="groupes" class="form-control" th:value="${student.groupes}"
                    placeholder="Your idGroup ( 1 or 2 or 3 ) ">
                <span class="text-danger" th:errors="${student.groupes}"></span>
            </div>
            <div class="text-center">
                <button class="btn text-warning mt-2" type="submit">Save Student</button>
            </div>
        </form>

    </div>

</body>
<div th:replace="index :: script"></div>

</html>