<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" >

  <head th:replace="index :: html_header" ></head>

<body>
  <div th:replace="index :: header"></div>

  <div class="container" >
      <div id="card" class="card border-secondary ml-2 mr-2">
        <div class="card-header">
          <h3 class=" text-warning bg-opacity-50 mt-5"> List Group </h3>
        </div>
        <div class="card-body">
          <div class="container">
            <form th:action="@{/groupe}" method="get">
              <input type="text" name="wordSearch">
              <button type="submit" class="btn btn-secondary p-1"> Search </button>
            </form>
          </div>
          <table class="table table-light table-striped ml-5 mr-5 my-5">
            <thead>
              <tr class="text-warning">
                <td>Group </td>
                <td>Name</td>
                <td> </td>
              </tr>
            </thead>
            <tbody>
              <tr th:each="groupe:${listGroupe}">
                <td th:text="${groupe.name}"></td>
                <td th:text="${groupe.groupe}"></td>
                <td>
                  <a th:href="@{studentIG(idGroup=${groupe.idGroup})}" class="text-warning" 
                  style="text-decoration: none;"> student </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" >
          <div class="">
            <ul class="nav nav-pills justify-content-center ">
              <li class="nav-item " th:classappend="${status.index == pageCourant} ? 'active' : '' "
                th:each="p,status:${pages}">
                <a class="nav-link text-warning" th:href="@{/groupe(page=${status.index},wordSearch=${wordSearch})}"
                  th:text="${status.index}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>


</body>
  <div th:replace="index :: script"></div>
</html>