<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" 
xmlns:layout="http://ultraq.net.nz/thymeleaf/Layout" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" >

</head>
<body >
  <h1 class="text text-warning "> Spring Project </h1>
  <header>
    
  </header>

  <li><a th:href="@{/groupe}" style="text-decoration: none;">Groupe</li>
  <section layout:fragment="content"></section>

  <footer>
    <div class="fixed-bottom">
      <small class="text-warning">@HEI</small>
    </div>
  </footer>

</body>
<script src="../static/js/bootstrap.min.js"></script>
</html>
