<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="index :: html_header"></head>

<body>

  <div th:replace="index :: header"></div>

  <div class="container mt-3" >
    <h5 class="text-secondary" th:text="${student.lastName} + ' ' + ${student.firstName}"></h5>
  </div>

  <div class="card mx-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> Moyenne </h5>
      <h6 class="card-subtitle mb-2 text-muted"> "here" </h6>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped ml-5 mr-5 my-5">
      <thead>
        <tr class="text-warning">
          <td>Average</td>
          <td>Subject</td>
          <td>Examen</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="grade:${gradeOS}">
          <td th:text="${grade.average}"></td>
          <td th:text="${grade.subject.name}"></td>
          <td th:text="${grade.examen.title}"></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>